<div class="toolbar" @mousedown.stop>
  <div class="toolbar-wh-row">
    <p class="toolbar-row-title">对齐</p>
    <span class="toolbar-position-inp">
      <i class="icon iconfont icon-align-left"></i>
      <i class="icon iconfont icon-align-center"></i>
      <i class="icon iconfont icon-align-right"></i>
    </span>
  </div>
  <div class="toolbar-wh-row">
    <p class="toolbar-row-title">位置</p>
    <span class="toolbar-position-inp">X&nbsp;
      <input :value="left * 2" @keyup="changeLeft"/>
      <svgicon name="lock"
               :color="topIsLocked ? '#42b983 #35495e' : '#AAA'"
               width="15"
               height="15"
               title="锁定X轴"
               class="position-lock-icon"
               @click.native="toggleYLock"
      ></svgicon>
    </span>
    <span class="toolbar-position-inp">Y&nbsp;
      <input :value="top * 2" @keyup="changeTop"/>
      <svgicon name="lock"
               :color="leftIsLocked ? '#42b983 #35495e' : '#AAA'"
               width="15"
               height="15"
               title="锁定Y轴"
               class="position-lock-icon"
               @click.native="toggleXLock"
      ></svgicon>
    </span>
  </div>
  <div class="toolbar-wh-row">
    <p class="toolbar-row-title">大小</p>
    <span class="toolbar-size-inp">宽
      <input :value="width * 2" @keyup="changeWidth"/>
      <svgicon name="lock"
               :color="aspectRatio ? '#42b983 #35495e' : '#AAA'"
               width="17"
               height="17"
               class="size-lock-icon"
               @click.native="toggleAspect"
      ></svgicon>
    </span>
    <span class="toolbar-size-inp">高
      <input :value="height * 2" @keyup="changeHeight"/>
    </span>
  </div>

  <!--<div class="toolbar-wh-row">-->
  <!--<p class="toolbar-row-title">最小大小</p>-->
  <!--<span class="toolbar-size-inp">width-->
  <!--<input :value="minw" :disabled="activeRect === null" @keyup="changeMinWidth" />-->
  <!--</span>-->
  <!--<span class="toolbar-size-inp">height-->
  <!--<input :value="minh" :disabled="activeRect === null" @keyup="changeMinHeight" />-->
  <!--</span>-->
  <!--</div>-->

  <div class="toolbar-wh-row">
    <p class="toolbar-row-title">定位</p>
    <!--<label class="toolbar-check-inp"><input type="checkbox" @change="toggleResizable" :checked="resizable"-->
    <!--:disabled="activeRect === null"/> isResizable</label>-->
    <!--<label class="toolbar-check-inp"><input type="checkbox" @change="toggleDraggable" :checked="draggable"-->
    <!--:disabled="activeRect === null"/> isDraggable</label>-->
    <!--<label class="toolbar-check-inp"><input type="checkbox" @change="toggleParentLimitation" :checked="parentLim"-->
    <!--:disabled="activeRect === null"/> parentLimitation</label>-->
    <el-button name="toBottom" :color="activeRect!==null && zIndex !== 'isLast' ? '#35495e' : '#AAA'"
               @click.native="toTop">上移一层
    </el-button>
    <el-button name="toTop" :color="activeRect!==null && zIndex !== 'isFirst' ? '#35495e' : '#AAA'"
               @click.native="toBottom">下移一层
    </el-button>

    <!--<svgicon name="toBottom" :color="activeRect!==null && zIndex !== 'isFirst' ? '#35495e' : '#AAA'" width="30" height="30" class="to-bottom-icon" @click.native="toBottom"></svgicon>-->
    <!--<svgicon name="toTop" :color="activeRect!==null && zIndex !== 'isLast' ? '#35495e' : '#AAA'" width="30" height="30" class="to-top-icon" @click.native="toTop"></svgicon>-->
  </div>
</div>
